<h1>Lesson Booking Form</h1>

<%= render 'form' %>


 <a class="button medium radius alert nice"" onclick="_gaq.push(['_trackEvent', 'Buttons', 'Download theme', 'Homepage']);""  <%= link_to 'Back', lessons_path %> </a>
