<div class=" panel ">
<div class="row">

<div class="ten columns">
<h4 class="span8">
<p>

<%=  comment.commenter %>
commented <time pubdate="" datetime="2012-01-8"><%= comment.created_at.to_s(:short) %></time>

</p>

</h4>

<p> <%= comment.body %></p>

</div>
</div>
</div>


<% if can? :update, @posts%>
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
<%end%>


