<h1>Home Page</h1>

<p>	Welcome to the TestSite</p>
<u>
	 <% if can? :update, @coach%>
	<li><%= link_to 'Product Management', products_path%></li>
	<li><%= link_to 'Album Mangement' %></li>
	<li><%= link_to 'Lesson Bookings', lessons_path %></li>
	<li><%= link_to 'About Us Mangement', coaches_path %></li>
		<%end%>
</u>



