// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#calendar .notmonth {
  color: #CCC;
}


#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}


#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}


#calendar .today {
  background-color: #D7F2FF;
}


#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}


#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}
