.content { 
    background: #FFF; 
	margin: 0 auto;
	padding: 0px;
	width: 886px;
	color: #000;
}

.banner{
	width: 886px;
}
.preheader {
	background: #000 url(preheader.jpg) no-repeat center bottom;
	color: #FFF;
	width: 886px;
	height: 71px;
	margin: 0;
	padding: 0;
}

	.preheader a { color: #FFF; background: inherit; text-decoration:none; }
	.preheader a:hover { color: #FFF; background: inherit;}

.preheader .padding {
	
	float: right;
	padding: 52px 70px 0 0;
	color: #FFF;
}

.header {
	background: #000 url(header.jpg) no-repeat center bottom;
	color: #FFF;
	width: 886px;
	height: 78px;
	margin: 0;
	padding: 0;
}

.header .title {
	float: left;
	padding: 12px 0 0 84px;
	color: #FFF;
	font: bold 1.8em Arial, sans-serif;
}

.header .slogan {
	float: left;
	clear: both;
	padding: 2px 0 0 84px;
	color: #FFF;
	font: bold 0.8em Arial, sans-serif;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}



#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#notice {
	padding: 5px;
  margin: 0px;
	background-color: #FFCC80;
}

#tags_update {
  font-size: 75%;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  border:1px solid black;
  background-color: white;
}


#menu ul {
  padding: 2px;
  margin: 2px;
  list-style: none;
  border-top: 5px solid #B36B00;
  border-bottom: 1px solid #999999;
}

#menu ul li {
  margin: 0px;
  padding-left padding-right: 10px;
  display: inline;
}

#menu a, #menu a:visited, #menu a:active {
  font-weight: bold;
  color: black;
  font-size: 110%;
  text-decoration:none;
}

#menu a:active {
  background-color: #666666;
}

#menu a:hover {
  color: white;
}

#header{
}

#content {
  padding-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid #999999
  
  ;
}

#logo {
  font-size: 250%;
}


#footer {
  width: 100%;
  text-align: center;
}

#slogan {
  position: relative;
  font-size: 70%;
  margin: 0px;
  line-height: 0px;
  top: -10px;
  left: 80px;
}

dt {
  font-weight: bold;
}




body {
  background-color: #fff; color: #333;
  margin-right: 230px;
}

#footer {
  color : #F5F5F5;
  background-color: #333333;
   padding: 10px;
 
}


